.delay-1 {
  -webkit-animation-delay: 0.1s !important;
  -moz-animation-delay: 0.1s !important;
  -ms-animation-delay: 0.1s !important;
  -o-animation-delay: 0.1s !important;
  animation-delay: 0.1s !important;
}
.delay-2 {
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -ms-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}
.delay-3 {
  -webkit-animation-delay: 0.3s !important;
  -moz-animation-delay: 0.3s !important;
  -ms-animation-delay: 0.3s !important;
  -o-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}
.delay-4 {
  -webkit-animation-delay: 0.4s !important;
  -moz-animation-delay: 0.4s !important;
  -ms-animation-delay: 0.4s !important;
  -o-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}
.delay-5 {
  -webkit-animation-delay: 0.5s !important;
  -moz-animation-delay: 0.5s !important;
  -ms-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}
.delay-6 {
  -webkit-animation-delay: 0.6s !important;
  -moz-animation-delay: 0.6s !important;
  -ms-animation-delay: 0.6s !important;
  -o-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}
.delay-7 {
  -webkit-animation-delay: 0.7s !important;
  -moz-animation-delay: 0.7s !important;
  -ms-animation-delay: 0.7s !important;
  -o-animation-delay: 0.7s !important;
  animation-delay: 0.7s !important;
}
.delay-8 {
  -webkit-animation-delay: 0.8s !important;
  -moz-animation-delay: 0.8s !important;
  -ms-animation-delay: 0.8s !important;
  -o-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}
.delay-9 {
  -webkit-animation-delay: 0.9s !important;
  -moz-animation-delay: 0.9s !important;
  -ms-animation-delay: 0.9s !important;
  -o-animation-delay: 0.9s !important;
  animation-delay: 0.9s !important;
}
.delay-10 {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  -ms-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  color: #367ee9;
}
a:hover {
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  color: #124ea7;
  text-decoration: none;
}
small {
  padding-left: 10px;
}
.section {
  padding-bottom: 20px;
  border-bottom: 2px solid #367ee9;
  display: inline;
}
.unlisted {
  list-style-type: none;
}
.larger-font {
  font-size: 16.5px;
}
.btn {
  border-radius: 0;
}
.btn-danger {
  color: #ffffff;
}
.btn-danger:hover {
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  background: #d43f3a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
#collapse-menu .navbar-nav li a:hover {
  color: #367ee9;
  background: transparent;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #367ee9;
  background: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #777777;
  background: transparent;
}
@media (min-width: 1024px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
.navbar-right .dropdown-menu {
  right: auto;
}
html,
body {
  height: 100%;
}
#wrapper {
  background: #fbfbfb;
  font-family: 'Open Sans', sans;
  min-height: 100%;
  margin: 0 auto -370px;
  padding: 0 0 370px;
}
@media (max-width: 1023px) {
  #wrapper {
    margin: 0 auto -900px;
    padding: 0 0 900px;
  }
}
.navbar-default {
  background: #ffffff;
  font-family: 'Raleway', sans;
  height: 75px;
}
@media (max-width: 1023px) {
  .navbar-default .container {
    padding: 0;
  }
}
.navbar-default .container .navbar-collapse {
  margin: 0;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  background: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
  color: #367ee9;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.navbar-default .navbar-brand {
  padding: 15px 0;
}
.navbar-default .navbar-brand img {
  height: 50px;
  width: 120px;
}
.navbar-default .navbar-nav {
  padding-top: 20px;
}
.navbar-default .navbar-nav li a {
  color: #777777;
  font-size: 16px;
  font-weight: 500;
}
.navbar-default .navbar-nav li a i {
  padding-right: 5px;
}
.navbar-default .navbar-nav li a:hover {
  color: #367ee9;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.navbar-default .navbar-nav li a.active {
  color: #367ee9;
}
.navbar-default .navbar-nav .dropdown {
  padding-bottom: 5px;
}
.navbar-default .navbar-nav .dropdown:hover .dropdown-toggle {
  color: #367ee9;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu {
  background: #000;
  opacity: 0.75;
  padding: 0;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu li {
  padding: 0;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
  padding: 10px 10px 10px 20px;
  color: #fff;
  border-bottom: 1px solid #2a3034;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover {
  color: #1763d5 !important;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
@media (max-width: 1023px) {
  .navbar-default .navbar-collapse {
    border-color: transparent;
    width: 100%;
    background: #fff;
  }
}
#footer {
  background: #333;
  height: 370px;
  font-family: 'Open Sans', sans;
  font-size: 14px;
  color: #fff;
  border-top: 5px solid #367ee9;
}
@media (max-width: 1023px) {
  #footer {
    height: 900px;
  }
}
#footer a {
  color: #4ecff8;
}
#footer a:hover {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
#footer h2 {
  font-weight: 300;
  padding-bottom: 20px;
}
#footer i {
  z-index: 1100;
  color: #fff;
  font-size: 2em;
  padding: 20px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
}
#footer i:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  cursor: pointer;
}
#footer .sitemap div {
  width: 33%;
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
}
#footer .sitemap div:first-child {
  margin-left: -20px;
}
#footer .sitemap div:nth-child(2) {
  margin: 0 15px 0 -20px;
}
#footer .blog-post ul {
  margin-left: -29px;
}
#footer .blog-post li {
  margin-bottom: 20px;
}
#footer .blog-post li .heading {
  display: inline;
  float: right;
  margin-right: 30px;
  position: absolute;
}
#footer .blog-post li .heading a {
  font-size: 16px;
}
#footer .blog-post li .heading small {
  font-style: italic;
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
#footer .blog-post li a img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  display: inline;
}
#footer .social {
  margin-bottom: 10px;
}
#footer .social img {
  width: 48px;
  height: 48px;
}
#footer .social img:hover {
  border-radius: 25px;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
#footer .credits {
  border-top: 1px solid #777777;
  text-align: center;
  padding: 15px 0 0 0;
}
.carousel {
  background: #367ee9;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans;
  font-size: 16px;
}
@media (max-width: 1023px) {
  .carousel {
    margin-bottom: 0px;
  }
}
.carousel .container {
  padding-top: 100px;
}
.carousel .container .btn {
  margin-top: 20px;
}
.carousel .container .carousel-caption {
  position: relative;
  left: -20%;
}
@media (max-width: 1023px) {
  .carousel .container .carousel-caption {
    left: -2%;
  }
}
.carousel .container .carousel-caption .dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 16.5px;
}
.carousel .container .carousel-caption .dropdown-menu li {
  border-top: 1px solid #bbb;
}
.carousel .container .carousel-caption .dropdown-menu li a:hover {
  background: #367ee9;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  color: #ffffff;
}
.carousel .container .carousel-caption .title {
  margin-bottom: 35px;
}
.three-story {
  margin-bottom: 20px;
}
.three-story a {
  color: #333333;
}
.three-story a:hover {
  text-decoration: none;
}
.three-story .col-md-4 {
  padding-top: 20px;
  text-align: center;
}
.three-story .col-md-4:hover {
  background: #367ee9;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  color: #ffffff;
  cursor: pointer;
}
.three-story .col-md-4 i {
  font-size: 4em;
}
.three-story .col-md-4 h2 {
  font-weight: 800;
}
/** recent news stories shows 3 most recent news stories 
 ** Has a title (h2) with a date (small)
 ** and a summary in a column of size 9 (col-sm-9)
 ** and a picture on the left (col-sm-3)
 **/
.recent-news {
  margin-bottom: 20px;
}
.recent-news .container .row:hover {
  background: #367ee9;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  color: #ffffff;
  cursor: pointer;
}
.recent-news .container .row:hover small {
  color: #ffffff;
}
.recent-news .container .row .summary-news {
  padding: 0 20px;
}
.recent-news .container .row .summary-news h2 {
  text-align: center;
}
.recent-news .container .row .summary-news h2 small {
  padding-left: 20px;
}
.recent-news .container .row .summary-news img {
  margin-bottom: 20px;
}
.panel-group .panel-default .panel-heading {
  background: #367ee9;
  color: #ffffff;
  padding: 0;
}
.panel-group .panel-default .panel-heading i {
  padding-right: 10px;
}
.panel-group .panel-default .panel-heading .fa-minus {
  display: none;
}
.panel-group .panel-default .panel-heading a {
  display: block;
  padding: 20px 15px;
}
.panel-group .panel-default .panel-heading a:hover,
.panel-group .panel-default .panel-heading a:focus {
  background: #1f6fe6;
  text-decoration: none;
}
.panel-group .panel-default .panel-heading .open a .fa-minus {
  display: inline;
}
.panel-group .panel-default .panel-heading .open a .fa-plus {
  display: none;
}
.tab-panels {
  margin-bottom: 20px;
}
.tab-panels .nav-tabs {
  border-bottom: none;
}
.tab-panels .nav-tabs:first-child {
  border-left: 1px solid #bbb;
}
.tab-panels .nav-tabs li {
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.tab-panels .nav-tabs li a {
  border-radius: 0;
  padding: 12px 22px;
  margin-right: 0;
  background: #eaeaea;
}
.tab-panels .nav-tabs li a:hover {
  background: #eaeaea;
}
.tab-panels .nav-tabs .active {
  border-right: 3px solid #367ee9;
  border-bottom: none;
  border-top: none;
  border-left: none;
}
.tab-panels .nav-tabs .active a {
  background: #ffffff;
}
.tab-panels .nav-tabs .active a:hover {
  background: #ffffff;
}
.tab-panels .tab-content {
  border: 1px solid #ddd;
  padding: 20px;
}
.tab-panels .tab-content .embed-responsive {
  margin: 10px;
}
.training .section {
  font-weight: 300;
  padding-right: 30px;
}
.training h3 {
  margin-top: 50px;
  font-weight: 300;
}
.team {
  margin-bottom: 20px;
}
.team .section {
  font-weight: 300;
  padding-right: 30px;
  margin-left: 150px;
}
.team .individual {
  margin-top: 50px;
}
.team .individual img {
  float: left;
  margin: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.team .individual p {
  margin-left: 195px;
}
.syllabus {
  margin-bottom: 40px;
}
.syllabus h3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.syllabus h2 {
  padding-right: 20px;
}
.syllabus .btn {
  margin-left: 10px;
}
.syllabus .korean-hide {
  max-width: 50%;
}
.syllabus .korean-hide th:nth-child(2),
.syllabus .korean-hide td:nth-child(2) {
  display: none;
}
.syllabus th,
.syllabus td {
  text-align: center;
}
.syllabus .title td {
  font-weight: 700;
}
